<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('home.index') }}">Accueil</a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('ingredient.index') }}">Mes ingrédient</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('recipe.index') }}">Mes recettes</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>

               <div class="d-flex">
                   <ul class="navbar-nav me-auto">
                       {% if app.user %}
                           <li class="nav-item dropdown" style="margin-right: 2rem;">
                               <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                                  role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.fullName }}</a>
                               <div class="dropdown-menu">
                                   <a class="dropdown-item" href="{{ path('user.edit', {id : app.user.id}) }}">Modifier mes informations</a>
                                   <a class="dropdown-item" href="{{ path('user.edit.password', {id : app.user.id}) }}">Modifier mon mot de passe</a>
                                   <div class="dropdown-divider"></div>
                                   <a class="dropdown-item" href="{{ path('security.logout') }}">Déconnexion</a>
                               </div>
                           </li>
                       {% else %}
                           <li class="nav-item">
                               <a class="nav-link" href="{{ path('security.login') }}">Connexion</a>
                           </li>

                           <li class="nav-item">
                               <a class="nav-link" href="{{ path('security.registration') }}">Déconnexion</a>
                           </li>
                       {% endif %}
                   </ul>
               </div>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>